<div>
    
    <br>
<div align="center">
    <div class="container">
        <img src="../../assets/Opus-Suite.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><h1>Hello Family</h1>
          <br>
          <h4> From a humble 40 bedrooms,<br> the group’s portfolio has grown to encompass<br> a number of hotels & resorts throughout<br> South Africa and has gained 25 years of experience<br> developing and managing hotels,<br> conference centres and restaurants.<br> Offering almost 2000 bedrooms<br> and employment opportunities to over 1500 passionate<br> members of staff, Premier Hotels & Resorts has a proven,<br> longstanding reputation for delivering<br> superior results.</h4>
          </div>
        </div>
      </div>
</div>