div{
    background-image: url("../../assets/opet_1366x650_room_historic_one_bedroom_dostoevsky02.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
    
}

.container {
    position: relative;
    width: 600px;
  }
  
  .image {
    display: block;
    width: 600px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }