<div>
 
<div class="row"> 

<a target="_blank" href="../../assets/yoga.jpg">
      <img src="../../assets/yoga.jpg" style="width: 300px" height="600px">&#160;
      </a>
      <a target="_blank" href="../../assets/biverah-hotel-suites-1.jpg">
    <img src="../../assets/biverah-hotel-suites-1.jpg" style="width: 300px" height="600px">&#160;
  </a>
  <a target="_blank" href="../../assets/Jiva-Spa.jpg">
    <img src="../../assets/Jiva-Spa.jpg" style="width: 300px" height="600px">&#160;
  </a>
  <a target="_blank\" href="../../assets/mandarin.jpg">
    <img src="../../assets/mandarin.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/piscina-hotel-riu-reggae-4_tcm55-169064.jpg">
    <img src="../../assets/piscina-hotel-riu-reggae-4_tcm55-169064.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/spa2.jpg">
    <img src="../../assets/spa2.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/talatona-convention-hotels.jpg">
    <img src="../../assets/talatona-convention-hotels.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/andronis-boutique-hotel.jpg">
    <img src="../../assets/andronis-boutique-hotel.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/1366-x-912_swimming-pool-4.jpg">
    <img src="../../assets/1366-x-912_swimming-pool-4.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/Gyms-port-harcourt.jpg">
    <img src="../../assets/Gyms-port-harcourt.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/iuy.jpg">
    <img src="../../assets/iuy.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/talatona-convention-hotels.jpg">
    <img src="../../assets/talatona-convention-hotels.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/top10-seoul-luxury-hotels.jpg">
    <img src="../../assets/top10-seoul-luxury-hotels.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/satt.jpg">
    <img src="../../assets/satt.jpg" style="width: 300px" height="400px">&#160;
  </a>
  <a target="_blank" href="../../assets/strand-tower-hotel.jpg">
    <img src="../../assets/strand-tower-hotel.jpg" style="width: 300px" height="400px">&#160;
  </a>
  </div>
</div>
