<body>
  <div class="iv">
    <div style="background-color:#f1f1f1;padding:15px;">  
      <a routerLink="home"><h1>The Rock Hotel</h1></a>
        <div align="left"></div>
        <a routerLink="booking">Booking</a>&#160;
        <a routerLink="gallery">Gallery</a>&#160;
        <a routerLink="about">About Us</a>&#160;
        <a routerLink="suites">Suites</a>
      </div>
      
<div>
  

</div>
<router-outlet></router-outlet>
<br>
<br>
<br>

<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;"><h2>This web page is to give you the feel of how exquisite hospitality feels like and of our hotel feel at home away from home.</h2></div>
</div>
</body>