<div>
<div class="container">
      
  <div class="slideshow-container">



       <figure>
         
      <div class="mySlides fade">
        
        <img src="../../assets/best-hotel-rooms.jpg" style="width: 700px" height="700px">
      
      </div>
      
      <div class="mySlides fade">
       
        <img src="../../assets/imatrankylpylahotellimakuuhuone.jpg" style="width: 700px" height="700px" >
      
      </div>
      
      <div class="mySlides fade">
        
        <img src="../../assets/opet_1366x650_room_historic_one_bedroom_dostoevsky02.jpg" style="width: 700px" height="700px" >

      </div>

      <div class="mySlides fade">
        
          <img src="../../assets/biverah-hotel-suites-1.jpg" style="width: 700px" height="700px" >
  
        </div>

        <div class="mySlides fade">
        
            <img src="../../assets/best-hotel-rooms.jpg" style="width: 700px" height="700px" >
    
          </div>  
             </figure>
             <br>   
      </div>
    </div>