<body>
    <div class="co">
<marquee behavior="loop" direction="Right">
    
    <h1>Welcome to THE ROCK HOTEL</h1>
</marquee>

<marquee behavior="loop" direction="left" class="opa">
        <a target="_blank" href="../../assets/10267036_47_z.jpg">   
    <img src="../../assets/10267036_47_z.jpg" style="width: 700px" height="700px">
    </a>

    <a target="_blank" href="../../assets/1366-x-912_swimming-pool-4.jpg">
        <img src="../../assets/1366-x-912_swimming-pool-4.jpg" style="width: 700px" height="700px">
    </a>

    <a target="_blank" href="../../assets/1b08558f51e0177cfc3f676ca1077f83.jpg">
        <img src="../../assets/1b08558f51e0177cfc3f676ca1077f83.jpg" style="width: 700px" height="700px">
        </a>
        <a target="_blank" href="../../assets/30023_005_lobby.jpg">
        <img src="../../assets/30023_005_lobby.jpg" style="width: 700px" height="700px">
        </a>
        <a target="_blank" href="../../assets/andronis-boutique-hotel.jpg">
        <img src="../../assets/andronis-boutique-hotel.jpg" style="width: 700px" height="700px">
        </a>
        <a target="_blank" href="../../assets/LHKW-001-S.jpg">
        <img src="../../assets/LHKW-001-S.jpg" style="width: 700px" height="700px">
    </a>
    <a target="blank" href="../../assets/luxury-hotel-bathroom-bahrain-gulf-decoration.jpg">
        <img src="../../assets/luxury-hotel-bathroom-bahrain-gulf-decoration.jpg" style="width: 700px" height="700px">
    </a>
    <a target="blank" href="../../assets/spa1.jpg">
        <img src="../../assets/spa1.jpg" style="width: 700px" height="700px">
    </a>
    </marquee>


</div>

</body>
